#!/usr/bin/env bash
set -euf -o pipefail

function main {
  trap exit INT

  declare -a DOMAINS=(
{% if frontlb_servers is defined %} {% for i in frontlb_servers %}
{% if i.certbot is defined and i.certbot %}
  {{ i.server_name }}
{% endif %}
{% endfor %} {% endif %}
{% if nginx_servers is defined %} {% for i in nginx_servers %}
{% if i.certbot is defined and i.certbot %}
  {{ i.server_name }}
{% endif %}
{% endfor %} {% endif %}
  )

  for host in ${DOMAINS[@]}; do
    {{ certbot_cmd }} $@ --config "{{ certbot_etc_path }}/cli.ini" \
      --post-hook 'service nginx reload' --domain "$host" \
      --manual-public-ip-logging-ok --agree-tos --no-eff-email \
      certonly
  done
}

main $@
