#!/usr/bin/env bash
set -euf -o pipefail

function main {
  trap exit INT

  declare -a domains=(
{% if frontlb_servers is defined %} {% for i in frontlb_servers %}
{% if i.certbot is defined and i.certbot %}
  {% if i.server_name is iterable and i.server_name is not string %}
'{{ i.server_name | join(',') }}'
  {% else %}
'{{ i.server_name }}'
  {% endif %}
{% endif %}
{% endfor %} {% endif %}
{% if nginx_servers is defined %} {% for i in nginx_servers %}
{% if i.certbot is defined and i.certbot %}
  {{ i.server_name }}
{% endif %}
{% endfor %} {% endif %}
  )

  for host in ${domains[@]}; do
    {{ certbot_cmd }} $@ --config "{{ certbot_etc_path }}/cli.ini" \
      --post-hook 'service nginx reload' --domain "$host" \
      --manual-public-ip-logging-ok --agree-tos --no-eff-email \
      certonly
  done
}

main $@
